{% extends "base.html" %}

{% block content %}
    <h2 class="text-center mb-4">Notifications</h2>

    {% for notification in notifications %}
        <div class="alert {% if not notification.is_read %}alert-primary{% else %}alert-secondary{% endif %}">
            <strong>{{ notification.event|title }}</strong>: {{ notification.message }} <br>
            <small>{{ notification.timestamp }}</small>
        </div>
    {% empty %}
        <p class="text-center">No notifications yet.</p>
    {% endfor %}
{% endblock %}
